*{
    background-color: rgb(102, 102, 102);
    width: auto;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-family: Arial, sans-serif;
   /* border: solid red; */
}

body{
    width: 960px;
    padding-left: 16px;
    padding-right: 16px;

} 

.linkbar{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  
    
}

.linkbar a{
    text-decoration: none;
    color: black;
    border: solid 1px darkorange;
    padding: 4px 4px 4px 4px;
    font-size: 20px;
    margin-left: 6px;
    margin-right: 6px;
    width: auto;
    display: inline-block;
    
}
a:hover{
    text-decoration: underline;
    color: darkorange;
}

h1{
    font-size: 48px;
    margin-bottom: 10px;
}

h1, h2, h3, h4{
    font-family: Garamond, serif;
    padding-left: 12px;
}

h2{
    font-size: 36px;
    margin-top: 6px;
    margin-bottom: 0px;
}

p{
    color: darkblue;
}

li{
    color: darkblue;
}

.steps li{
    padding-top: 3px;
    padding-bottom: 3px;
    
}

h3.section{
    font-size: 28px;
    padding-left: 16px;
    text-decoration: underline;
}

h4.subsection{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2px;
    padding-bottom: 0px;
    font-size: 16px;
}

ul, ol{
    padding-bottom: 8px;
    padding-top: 2px;
    padding-left: 60px; 
    margin-top: 0px;
    margin-bottom: 0px;
}




.headerimage{
    display: inline-block;
   margin-right: 0px;
   padding-right: 0px;
   background-color: rgb(115, 115, 115);
}

.headerimage img{
    display: inline-block;
    height: auto;
    margin-right: 0px;
    padding-right: 0px;
    width: 360px;
}

.intro{
    display: inline-block;
    width: 560px;
    background-color: rgb(115, 115, 115);
    text-align: left;
   padding-left: 0px;
    margin-left: 0px;
    
}

.recipetitle{
    text-decoration: underline;
    padding-bottom: 10px;
    padding-left: 20px;
}

.introblurb{
    background-color: rgb(115, 115, 115);
    padding: 10px;
}

.intro p{
    background-color: rgb(115, 115, 115);
}

.portion *{
    background-color: rgb(115, 115, 115);
}
/*
        Move H2 above image, try to make the image, and the paragraph text floating side by side with the h2 title above. Add Borders around the ingredients section, change the background color slightly darker or lighter so it stands out. Do the same with the steps section, being sure to preserve the space between.
*/